<link rel="stylesheet" href="/public/budget.css">
<h1>Let's get started with a budget!</h1>
<h2>Answer a few questions</h2>
<form id="budget_form" action="/budget/new" method="POST" autocomplete="off">
{{#if success}}
  <div class="alert">
    {{success}}
  </div>
  {{/if}}
  <div class="form-group">
    <label for="amount">1. How much do you want to save?</label>
    <input type="number" id="amount" name="amount" {{#if amount}} value={{amount}} {{/if}}placeholder="Enter amount" step="0.01" required>
  </div>

  <div class="form-group">
    <label for="category">2. What catagory do you want to save?</label>
    <select id="category" name="category" required>
      <option value="">Select category</option>
      <option value="groceries">Groceries</option>
      <option value="shopping">Shopping</option>
      <option value="eating_out">Eating Out</option>
      <option value="bills">Bills</option>
      <option value="transportation">Transportation</option>
      <option value="entertainment">Entertainment</option>
      <option value="travel">Travel</option>
      <option value="healthcare">Healthcare</option>
      <option value="education">Education</option>
      <option value="miscellaneous">Miscellaneous</option>
    </select>
  </div>


  <div class="form-group">
    <label>3. How much time do you want to set this budget for?</label>
    <label for="start_Date">Start Date</label>
    <input type="date" id="start_Date" {{#if start_Date}} value={{start_Date}} {{/if}}name="start_Date" required>
  </div>

  <div class="form-group">
    <label for="end_Date">End Date</label>
    <input type="date" id="end_Date"  {{#if end_Date}} value={{end_Date}} {{/if}} name="end_Date" required>
  </div>
  <div class="error" id="error" hidden></div>
  <button type="submit">Add Budget</button>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
  <script src='/public/validations/budget.js'></script>
</form>
{{#if error_server}}
<div class="error">{{error_server}}</div>
{{/if}}
<button name="back" onclick="window.location.href='/dashboard'">Back to Dashboard</button>
