<!DOCTYPE html>
<html lang="en">

<link rel="stylesheet" href="/public/goals.css">

<body>
  <h1>All Goals</h1>
  <h2>Current Goals Set</h2>
  <table>
    <thead>
      <tr>
        <th>Created Date</th>
        <th>Goal Purpose</th>
        <th>Goal Name</th>
        <th>Target Date</th>
        <th>Goal Amount</th>
        <th>Minimum Amount to save every month</th>
        <th>Total Savings recorded till now</th>
      </tr>
    </thead>
    <tbody>
      {{#each data}}
      <tr>
        <td>{{created_date}}</td>
        <td>{{goal_purpose}}</td>
        <td>{{goal_name}}</td>
        <td>{{target_date}}</td>
        <td>{{goal_amount}}</td>
        <td>{{monthlySavings}}</td>
        <td>{{savings}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
  <style>
    /* Center align the title */
    h1 {
      text-align: center;
    }

    /* Style the table headers */
    th {
      text-align: left;
      font-weight: bold;
      padding: 10px 5px;
      background-color: #f5f5f5;
      border: 1px solid #ddd;
    }

    /* Style the table cells */
    td {
      padding: 10px 5px;
      border: 1px solid #ddd;
    }
  </style>

  <button onclick=window.location.href="/dashboard">Back to Dashboard</button>
</body>

</html>