<body>
  <link rel="stylesheet" type="text/css" href="/public/dashboard.css" />
  
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript" src="/public/charts/charts.js"></script>
  <script type="text/javascript">
    google.charts.load('current', {packages: ['corechart']});
    google.charts.setOnLoadCallback(drawCharts);
  </script>
  
  <div id="transactions-data" style="display:none;">{{json transactions}}</div>
  <h1 style="text-align: center">Welcome {{data.firstname}} {{data.lastname}}</h1>
  <div id="chart_wrapper">
    <div id="piechart" style="width: 900px; height: 500px;">Charts</div>
    <div id="linechart" style="display:none;"></div>
    <div id="barchart" style="width: 900px; height: 500px;"></div>
  </div>

  <button type="button" onclick="window.location.href='/transactions/new'">Add a new Transaction</button>
  <button type="button " onclick="window.location.href='/transactions/seeAllTransaction'">View All Transactions</button>
  <button type="button " onclick="window.location.href='/budget/new'">Add a new Budget</button>
  <button type="button " onclick="window.location.href='/budget/seeAllBudgets'">View All Budgets</button>
  <a href="charts"><button type="button">View Detailed Charts</button></a>
  <button type="button">Upload excel</button>
  <button type="button">Settings</button>
  <button onclick=window.location.href="/logout">Logout</button>
  <h2>Budgets Set</h2>
  <table>
    <thead>
      <tr>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Category</th>
        <th>Amount Set</th>
        <th>Amount Remaining</th>
      </tr>
    </thead>
    <tbody>
      {{#each active_budget}}
      <tr>
        <td>{{start_date}}</td>
        <td>{{end_date}}</td>
        <td>{{category}}</td>
        <td>{{budget_amount}}</td>
        <td>{{amount_remaining}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>

  <h2> Transaction history</h2>
  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th>Description</th>
        <th>Category</th>
        <th>Amount</th>
        <th>Type</th>
      </tr>
    </thead>
    <tbody>
      {{#each transactions}}
      <tr>
        <td>{{transaction_date}}</td>
        <td>{{description}}</td>
        <td>{{category}}</td>
        <td>{{amount}}</td>
        <td>{{paymentType}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>

</body>