<link rel="stylesheet" type="text/css" href="../public/registration.css">
<nav>
    <img id="logo" src="../public/images/798-7981159_piggy-bank-png-icon-white-piggy-bank-vector.png" alt="logo">
</nav>
<div class="container">
    <h1>Registration Page</h1>
    <form id="registration-form" action="/registration" method="POST">
        <label for="firstname">First Name</label>
        <input type="text" id="firstname" name="firstname" required value={{firstname}}>
        <label for="lastname">Last Name</label>
        <input type="text" id="lastname" name="lastname" required value={{lastname}}>
        <label for="dob">Date of Birth</label>
        <input type="date" id="dob" name="dob" required value={{dob}}>
        <label for="email">Email Address</label>
        <input type="email" id="email" name="email" required value={{email}}>
        <label for="password_initial">Set a new Password</label>
        <input type="password" id="password_initial" name="password_initial" required>
        <label for="password_confirm">Confirm Password</label>
        <input type="password" id="password_confirm" name="password_confirm" required>
        <label for="region-select">Select a Region:</label>
        <select id="region-select" name="region-select">
            <option value="">--Select Region--</option>
            <!-- Create options for each region in alphabetical order -->
            <option value="Afghanistan">Afghanistan</option>
            <option value="Algeria">Algeria</option>
            <option value="Angola">Angola</option>
            <option value="Argentina">Argentina</option>
            <option value="Bangladesh">Bangladesh</option>
            <option value="Brazil">Brazil</option>
            <option value="Canada">Canada</option>
            <option value="China">China</option>
            <option value="Colombia">Colombia</option>
            <option value="DR Congo">DR Congo</option>
            <option value="Egypt">Egypt</option>
            <option value="Ethiopia">Ethiopia</option>
            <option value="France">France</option>
            <option value="Germany">Germany</option>
            <option value="India">India</option>
            <option value="Indonesia">Indonesia</option>
            <option value="Iran">Iran</option>
            <option value="Iraq">Iraq</option>
            <option value="Italy">Italy</option>
            <option value="Japan">Japan</option>
            <option value="Kenya">Kenya</option>
            <option value="Malaysia">Malaysia</option>
            <option value="Mexico">Mexico</option>
            <option value="Morocco">Morocco</option>
            <option value="Mozambique">Mozambique</option>
            <option value="Myanmar">Myanmar</option>
            <option value="Nepal">Nepal</option>
            <option value="Nigeria">Nigeria</option>
            <option value="Pakistan">Pakistan</option>
            <option value="Peru">Peru</option>
            <option value="Philippines">Philippines</option>
            <option value="Poland">Poland</option>
            <option value="Russia">Russia</option>
            <option value="Saudi Arabia">Saudi Arabia</option>
            <option value="South Africa">South Africa</option>
            <option value="South Korea">South Korea</option>
            <option value="Spain">Spain</option>
            <option value="Sudan">Sudan</option>
            <option value="Tanzania">Tanzania</option>
            <option value="Thailand">Thailand</option>
            <option value="Turkey">Turkey</option>
            <option value="Uganda">Uganda</option>
            <option value="Ukraine">Ukraine</option>
            <option value="United Kingdom">United Kingdom</option>
            <option value="United States">United States</option>
            <option value="Uzbekistan">Uzbekistan</option>
            <option value="Venezuela">Venezuela</option>
            <option value="Vietnam">Vietnam</option>
            <option value="Yemen">Yemen</option>
        </select>
        <button type="submit" id="register_button" value="Register">Register</button>
    </form>
    <div id="error-container" hidden>{{error}}</div>
</div>
<script src='/public/validations/log_in_registration.js'></script>
<p>Already have an account? <a href="login">Click here to log-in</a></p>