<link rel="stylesheet" href="/public/budget.css">
<h1>Active Budgets</h1>
  <table>
    <thead>
      <tr>
        <th>Date Started</th>
        <th>Date Valid till</th>
        <th>category</th>
        <th>Amount</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      {{#each active_budgets}}
      <tr>
        <td>{{start_date}}</td>
        <td>{{end_date}}</td>
        <td>{{category}}</td>
        <td>{{budget_amount}}</td>
         <td>
          <form method="POST" action="/budget/ActiveRemove/{{_id}}">
          <input type="hidden" name="_method" value="DELETE">
          <button type="submit" >Remove</button>
          </form>
          </td>
      </tr>
      {{/each}}
    </tbody>
  </table>

  <button onclick="window.location.href='/dashboard'">Back to Dashboard</button>
  <button onclick="window.location.href='/budget/expiredBudgets'">See All expired Budgets</button>
