<h1>Transaction</h1>


<link rel="stylesheet" type="text/css" href="/public/dashboard.css">


<form id="filter-form" action="/transactions/seeAllTransaction/filters" method="GET">
  <label for="start-date-input">Start Date:</label>
  <input type="date" id="start-date-input" name="start_date" {{#if start}} value="{{start}}" {{/if}}>

  <label for="end-date-input">End Date:</label>
  <input type="date" id="end-date-input" name="end_date" {{#if end}} value="{{end}}" {{/if}}>

  <label for="category-input">Category:</label>
  <select id="category-input" name="category">
    <option value="">Select category</option>
    <option value="groceries" {{#ifEqual cat "groceries" }}selected{{/ifEqual}}>Groceries</option>
    <option value="shopping" {{#ifEqual cat "shopping" }}selected{{/ifEqual}}>Shopping</option>
    <option value="eating_out" {{#ifEqual cat "eating_out" }}selected{{/ifEqual}}>Eating Out</option>
    <option value="bills" {{#ifEqual cat "bills" }}selected{{/ifEqual}}>Bills</option>
    <option value="transportation" {{#ifEqual cat "transportation" }}selected{{/ifEqual}}>Transportation</option>
    <option value="entertainment" {{#ifEqual cat "entertainment" }}selected{{/ifEqual}}>Entertainment</option>
    <option value="travel" {{#ifEqual cat "travel" }}selected{{/ifEqual}}>Travel</option>
    <option value="healthcare" {{#ifEqual cat "healthcare" }}selected{{/ifEqual}}>Healthcare</option>
    <option value="education" {{#ifEqual cat "education" }}selected{{/ifEqual}}>Education</option>
    <option value="miscellaneous" {{#ifEqual cat "miscellaneous" }}selected{{/ifEqual}}>Miscellaneous</option>
  </select>

  <button type="submit">Filter Transactions</button>
  <button type="button" onclick="window.location.href='/transactions/seeAllTransaction'">Clear Filters</button>


</form>


<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Description</th>
      <th>Category</th>
      <th>Amount</th>
      <th>Type</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each transactions}}
    <tr class="transaction-row" data-date="{{transaction_date}}" data-category="{{category}}">
      <td>{{transaction_date}}</td>
      <td>{{description}}</td>
      <td>{{category}}</td>
      <td>{{amount}}</td>
      <td>{{paymentType}}</td>
      <td>
        <button type="button" onclick="window.location.href='/transactions/{{_id}}'">Edit</button>
        <button class="del-btn" data-transaction-id="{{_id}}">Delete</button>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>

<div id="error-message" style="display:none;">
  <ol>
    {{#each errors}}
    <li>{{this}}</li>
    {{/each}}
  </ol>
</div>
<button onclick="window.location.href='/dashboard'">Back to Dashboard</button>

<button onclick="window.location.href='/transactions/seeAllTransaction/export'">Export all Transactions</button>
{{#if success}}
<div class="alert">
  Excel exported successfully !
</div>
{{/if}}
<script src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script src='/public/validations/allTransaction.js'></script>
<script src="/public/js/deleteTransaction.js"></script>